.gitignore

#mavenignore
*.class
*/target/
/target
*.jar
.mtj.tmp/
!.mvn/wrapper/*
*.war
*.ear
*.ctxt
*.rar
*.zip
*.tar
*.tar.gz
mvnw
mvnw.cmd
.mvn/

#eclipseignore
*.settings
*.project
*.classpath

#ideignore
/.vscode
/.idea
.vscode
.idea
*.ipr
/applog
*.iml
*.iws

#tempignore
*.log
*/*.log
*.cache
*.diff
*.patch
*.tmp
#systemignore
*.DS_Store
Thumbs.db

#pluginsignore
rebel.xml